.room {
  position: absolute;
  background-color: rgb(128, 69, 42);
  background-image: url("@/assets/room.jpg");
  background-repeat: no-repeat;
  background-position: center;
  outline: solid 1px black;
  height: 800px;
  width: 1200px;
  top: 10%;
  left: 10%;
  border-radius: 2%;
}

.btn{
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /*outline: solid 1px black;*/
}

.btn.Bed{
  width: 28.3%;
  height: 64%;
  top: 4%;
  left: 5%;
}

.btn.Skate{
  width: 15%;
  height: 7%;
  top: 79.5%;
  left: 12%;
}

.btn.Plant{
  width: 8%;
  height: 11%;
  top: 81.5%;
  left: 45%;
}

.btn.Table{
  width: 27%;
  height: 21%;
  top: 3.2%;
  left: 39.5%;
}

.btn.Sofa{
  width: 18.3%;
  height: 34.5%;
  top: 32%;
  left: 75.5%;
}

.btn.Door{
  width: 17%;
  height: 16.2%;
  top: 81.5%;
  left: 73%;
}

.btn.Meditate{
  width: 21%;
  height: 20%;
  top: 41%;
  left: 42%;
}

.btn.Mobile{
  width: 2%;
  height: 4%;
  top: 15%;
  left: 41.5%;
}

.not{
  background-color: orange;
  cursor: pointer;
  position: absolute;
}

.not.n1{
  top: 10%;
  left: 10%;
  width: 10%;
  height: 10%;
}

.not.n2{
  top: 20%;
  left: 20%;
  width: 20%;
  height: 20%;
}

.not.n3{
  top: 30%;
  left: 30%;
  width: 30%;
  height: 30%;
}

.not.n4{
  top: 40%;
  left: 40%;
  width: 40%;
  height: 40%;
}

.not.n5{
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
}

.not.n6{
  top: 60%;
  left: 60%;
  width: 60%;
  height: 60%;
}

.not.n7{
  top: 60%;
  left: 60%;
  width: 60%;
  height: 60%;
}
.not.n8{
  top: 60%;
  left: 60%;
  width: 60%;
  height: 60%;
}
.not.n9{
  top: 60%;
  left: 60%;
  width: 60%;
  height: 60%;
}
.not.n{
  top: 60%;
  left: 60%;
  width: 60%;
  height: 60%;
}

.PopUpOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 2%;
  background: rgba(0, 0, 0, 0.7);
}

.PopUp {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  padding: 20px;
  outline: solid 1px black;
  background: rgb(255, 255, 255);
  margin-right: 10%;
  border-radius: 2%;
}

.btnPop{
  text-align: right;
  margin: 1%;
  padding: 1%;
}

.img{
  width: auto;
}

.Not{
  width: 40%;
}
