body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.room {
  background-color: rgb(128, 69, 42);
  background-image: url("C:\Users\geryb\Documents\TFG\learn\src\assets\room.jpg");
  background-repeat: no-repeat;
  background-position: center;
  outline: solid 1px black;
  height: 600px;
  width: 800px;
}

.btn{
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: solid 1px black;

}

.btn.Bed{
  width: 250px;
  height: 350px;
  top: 80px;
  left: 50px;
}

.btn.Skate{
  width: 175px;
  height: 40px;
  top: 480px;
  left: 70px;
}

.btn.Plant{
  width: 75px;
  height: 75px;
  top: 490px;
  left: 370px;
}

.btn.Table{
  width: 215px;
  height: 111px;
  top: 80px;
  left: 325px;
}

.btn.Sofa{
  width: 160px;
  height: 185px;
  top: 230px;
  left: 600px;
}

.btn.Door{
  width: 100px;
  height: 70px;
  top: 500px;
  left: 600px;
}

.not{
  background-color: orange;
  cursor: pointer;
  position: fixed;
}

.not.n1{
  top: 100px;
  left: 500px;
  width: 300px;
  height: 100px;
}

.not.n2{
  top: 400px;
  left: 200px;
  width: 300px;
  height: 100px;
}

.not.n3{
  top: 250px;
  left: 100px;
  width: 300px;
  height: 100px;
}

.not.n4{
  top: 60px;
  left: 450px;
  width: 300px;
  height: 100px;
}

.not.n5{
  top: 100px;
  left: 50px;
  width: 300px;
  height: 100px;
}

.not.n6{
  top: 500px;
  left: 500px;
  width: 300px;
  height: 100px;
}

.PopUpOverlay {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;

  background: rgba(0, 0, 0, 0.7);
}

.PopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  padding: 20px;
  outline: solid 1px black;
  background: rgb(255, 255, 255);
}
