.roomContainer {
  position: absolute;
  background-color: rgb(128, 69, 42);
  background-image: url("@/assets/room.jpg");
  background-repeat: no-repeat;
  background-position: center;
  outline: solid 1px black;
  height: 800px;
  width: 1200px;
  top: 10%;
  left: 10%;
  border-radius: 15px;
}

.btnRoom {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btnRoom.Bed {
  width: 28.3%;
  height: 64%;
  top: 4%;
  left: 5%;
}

.btnRoom.Skate {
  width: 15%;
  height: 7%;
  top: 79.5%;
  left: 12%;
}

.btnRoom.Plant {
  width: 8%;
  height: 11%;
  top: 81.5%;
  left: 45%;
}

.btnRoom.Table {
  width: 27%;
  height: 21%;
  top: 3.2%;
  left: 39.5%;
}

.btnRoom.Sofa {
  width: 18.3%;
  height: 34.5%;
  top: 32%;
  left: 75.5%;
}

.btnRoom.Door {
  width: 17%;
  height: 16.2%;
  top: 81.5%;
  left: 73%;
}

.btnRoom.Meditate {
  width: 21%;
  height: 20%;
  top: 41%;
  left: 42%;
}

.btnRoom.Mobile {
  width: 2%;
  height: 4%;
  top: 15%;
  left: 41.5%;
}

/*
Mira la nova imatge que han penjat. Sigues el primer en comentar.
Has rebut un Nou missatge. Entra per chatejar
Estan parlant de les noves tendencies. Entra ara per discutir i participar.
Corre ara et toca penjar la foto diaria.
Escolta ara la nova canço del teu artista preferit


*/

.not {
  cursor: pointer;
  position: absolute;
  border-radius: 10px;
}

.not.n1 {
  background-image: url("@/assets/Not1.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  top: 30%;
  left: 6%;
  width: 215px;
  height: 520px;
}

.not.n2 {
  background-image: url("@/assets/Not2.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  top: 30%;
  left: 30%;
  width: 20%;
  height: 26%;
}

.not.n3 {
  background-image: url("@/assets/Not3.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  top: 10%;
  left: 55%;
  width: 30%;
  height: 30%;
}

.not.n4 {
  background-image: url("@/assets/Not4.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  top: 60%;
  left: 40%;
  width: 30%;
  height: 30%;
}

.not.n5 {
  background-image: url("@/assets/Not5.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  top: 50%;
  left: 78%;
  width: 15%;
  height: 45%;
}

.not.n6 {
  top: 25%;
  left: 13%;
  width: 37%;
  height: 25%;
}

.not.n7 {
  top: 55%;
  left: 10%;
  width: 30%;
  height: 30%;
}

.not.n8 {
  top: 50%;
  left: 50%;
  width: 20%;
  height: 42%;
}

.not.n9 {
  top: 5%;
  left: 47%;
  width: 40%;
  height: 19%;
}

.not.n10 {
  top: 50%;
  left: 75%;
  width: 15%;
  height: 45%;
}

.PopUpOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 2%;
  background: rgba(0, 0, 0, 0.7);
}

.PopUp {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  padding: 20px;
  outline: solid 1px black;
  background: rgb(255, 255, 255);
  margin-right: 10%;
  border-radius: 2%;
}

.PopUpV {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  padding: 20px;
  outline: solid 1px black;
  background: rgb(255, 255, 255);
  margin-right: 10%;
  border-radius: 2%;
}

.img {
  width: auto;
}

.Not {
  width: 40%;
}