.info {
  position: absolute;
  background-color: rgb(218, 212, 209);
  outline: solid 1px black;
  height: 800px;
  width: 1200px;
  top: 10%;
  left: 10%;
  border-radius: 2%;
}

.wrapper{
  display: flex;

  margin: 1%;
}

.img1{
  background-image: url("@/assets/cara_ejemplo2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 500px;
  border-radius: 2%;
}

.questionContainer{
  margin-left: 5%;
  width: 50%;
  outline: solid 1px black;
  border-radius: 2%;
  background-color: rgb(206, 183, 154);
  box-shadow: 10px 10px;
}

.sabiesContainer{
  left: 50%;
  width: 85%;
  margin-top: 2%;
  margin-left: 3%;
  outline: solid 1px black;
  border-radius: 4%;
  background-color: rgb(133, 194, 93);
  box-shadow: 10px 10px;
}


.answer{
  background-color: antiquewhite;
  width: 100%;
  height: 5%;
  outline: 1px black;
  outline: solid 1px black;
  margin: 1%;
}

.answer.Correct{
  background-color: rgb(22, 175, 22);
}

.answer.Incorrect{
  background-color: rgb(175, 7, 7);
}